.directory
.\#*
*.swp
*.kate-swp
*~
*.rej
session.*
\#*\#
*.swp
*.swo
*.swn
*.tar.gz
*.tgz
*.zip
*.pdf
temp
tmp
temp.*
*.temp
info/
scratch.*
personal.js
/docs/firefox-devtools-kb-shortcuts.html
/docs/firefox-kb-shortcuts.html
/docs/firefox-mouse-shortcuts.html
