.directory
.\#*
*.swp
*.kate-swp
*~
*.rej
session.*
\#*\#
*.swp
*.swo
*.swn
*.tar.gz
*.tgz
*.zip
*.pdf
temp
tmp
temp.*
*.temp
info/
scratch.*
personal.js
GPATH
GRTAGS
GSYMS
GTAGS
TAGS
/doc/firefox-devtools-kb-shortcuts.html
/doc/firefox-kb-shortcuts.html
/doc/firefox-mouse-shortcuts.html
/misc/working_*
/cookies/crunchyroll/cookies.txt
/cookies/tempout.txt
