/* Effective stylesheet produced by snapshot save */
.pl-c2::before { content: "^M"; }
@keyframes blink {
  0% {  }
  50% { background-color: transparent; }
  100% {  }
}
@keyframes blink {
  0% {  }
  50% { background-color: transparent; }
  100% {  }
}
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent; }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: rgb(215, 212, 240) none repeat scroll 0% 0%; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: rgb(215, 212, 240) none repeat scroll 0% 0%; }
.cm-tab-wrap-hack::after { content: ""; }
.CodeMirror-merge-collapsed-widget::before { content: "(...)"; }
.octicon { display: inline-block; vertical-align: text-top; fill: currentcolor; }
.container-preview:not(.show-code) .commit-create, .container-preview:not(.show-code) .actions { display: none; }
.conflict-gutter-marker::after, .conflict-gutter-marker::before { position: absolute; left: -1px; content: ""; background-color: rgb(215, 58, 73); }
.conflict-gutter-marker-start::after, .conflict-gutter-marker-end::after { width: 1px; height: 10px; }
.conflict-gutter-marker-start::before, .conflict-gutter-marker-middle::before, .conflict-gutter-marker-end::before { width: 10px; height: 1px; }
.conflict-gutter-marker-start::after { bottom: 0px; }
.conflict-gutter-marker-end::after { top: 0px; }
.conflict-gutter-marker-start::before { top: 7px; }
.conflict-gutter-marker-end::before { bottom: 7px; }
.conflict-gutter-marker-line::after, .conflict-gutter-marker-middle::after { width: 1px; height: 18px; }
.conflict-gutter-marker-middle::before { top: 9px; }
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR::before { left: -36px; position: absolute; text-align: right; width: 30px; }
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listRTL::before { position: absolute; right: -36px; text-align: left; width: 30px; }
.public-DraftStyleDefault-orderedListItem::before { content: counter(ol0, decimal) ". "; counter-increment: ol0 1; }
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth1::before { content: counter(ol1, decimal) ". "; counter-increment: ol1 1; }
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth2::before { content: counter(ol2, decimal) ". "; counter-increment: ol2 1; }
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth3::before { content: counter(ol3, decimal) ". "; counter-increment: ol3 1; }
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth4::before { content: counter(ol4, decimal) ". "; counter-increment: ol4 1; }
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline-width: 0px; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0px; }
* { box-sizing: border-box; }
body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 14px; line-height: 1.5; color: rgb(36, 41, 46); background-color: rgb(255, 255, 255); }
a { color: rgb(3, 102, 214); text-decoration: none; }
a:hover { text-decoration: underline; }
hr::before, .rule::before { display: table; content: ""; }
hr::after, .rule::after { display: table; clear: both; content: ""; }
table { border-spacing: 0px; border-collapse: collapse; }
td, th { padding: 0px; }
h1, h2, h3, h4, h5, h6 { margin-top: 0px; margin-bottom: 0px; }
h2 { font-size: 24px; font-weight: 600; }
h3 { font-size: 20px; font-weight: 600; }
p { margin-top: 0px; margin-bottom: 10px; }
.octicon { vertical-align: text-bottom; }
.BtnGroup::before { display: table; content: ""; }
.BtnGroup::after { display: table; clear: both; content: ""; }
::-moz-placeholder { color: rgb(106, 115, 125); }
::placeholder { color: rgb(106, 115, 125); }
.hfields::before { display: table; content: ""; }
.hfields::after { display: table; clear: both; content: ""; }
.form-actions::before { display: table; content: ""; }
.form-actions::after { display: table; clear: both; content: ""; }
.form-group.required dt label::after { padding-left: 5px; color: rgb(203, 36, 49); content: "*"; }
.form-group.warn .warning::after, .form-group.warn .warning::before, .form-group.warn .error::after, .form-group.warn .error::before, .form-group.errored .warning::after, .form-group.errored .warning::before, .form-group.errored .error::after, .form-group.errored .error::before { position: absolute; bottom: 100%; left: 10px; z-index: 15; width: 0px; height: 0px; pointer-events: none; content: " "; border: medium solid transparent; }
.form-group.warn .warning::after, .form-group.warn .error::after, .form-group.errored .warning::after, .form-group.errored .error::after { border-width: 5px; }
.form-group.warn .warning::before, .form-group.warn .error::before, .form-group.errored .warning::before, .form-group.errored .error::before { margin-left: -1px; border-width: 6px; }
.form-group.warn .warning::after { border-bottom-color: rgb(255, 251, 221); }
.form-group.warn .warning::before { border-bottom-color: rgb(217, 208, 165); }
.form-group.errored .error::after { border-bottom-color: rgb(255, 220, 224); }
.form-group.errored .error::before { border-bottom-color: rgb(206, 160, 165); }
.repo-config-option:not(:checked) ~ .time-remaining { display: none; }
.status-indicator-success::before { content: ""; }
.status-indicator-failed::before { content: ""; }
.container { width: 980px; margin-right: auto; margin-left: auto; }
.container::before { display: table; content: ""; }
.container::after { display: table; clear: both; content: ""; }
.columns::before { display: table; content: ""; }
.columns::after { display: table; clear: both; content: ""; }
.menu-item:first-child::before { border-top-left-radius: 2px 2px; }
.menu-item:last-child::before { border-bottom-left-radius: 2px 2px; }
.menu-item.selected::before { position: absolute; top: 0px; bottom: 0px; left: 0px; width: 2px; content: ""; background-color: rgb(227, 98, 9); }
.subnav::before { display: table; content: ""; }
.subnav::after { display: table; clear: both; content: ""; }
.tooltipped::after { position: absolute; z-index: 1000000; display: none; padding: 5px 8px; font: normal normal normal normal 11px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: rgb(255, 255, 255); text-align: center; text-decoration: none; text-shadow: none; text-transform: none; letter-spacing: normal; overflow-wrap: break-word; white-space: pre; pointer-events: none; content: attr(aria-label); background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; border-radius: 3px; opacity: 0; }
.tooltipped::before { position: absolute; z-index: 1000001; display: none; width: 0px; height: 0px; color: rgba(0, 0, 0, 0.8); pointer-events: none; content: ""; border: 5px solid transparent; opacity: 0; }
@keyframes tooltip-appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes tooltip-appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.tooltipped:hover::before, .tooltipped:hover::after, .tooltipped:active::before, .tooltipped:active::after, .tooltipped:focus::before, .tooltipped:focus::after { display: inline-block; text-decoration: none; animation-name: tooltip-appear; animation-duration: 0.1s; animation-fill-mode: forwards; animation-timing-function: ease-in; animation-delay: 0.4s; }
.tooltipped-no-delay:hover::before, .tooltipped-no-delay:hover::after, .tooltipped-no-delay:active::before, .tooltipped-no-delay:active::after, .tooltipped-no-delay:focus::before, .tooltipped-no-delay:focus::after { opacity: 1; animation: 0s ease 0s 1 normal none running none; }
.tooltipped-multiline:hover::after, .tooltipped-multiline:active::after, .tooltipped-multiline:focus::after { display: table-cell; }
.tooltipped-s::after, .tooltipped-se::after, .tooltipped-sw::after { top: 100%; right: 50%; margin-top: 5px; }
.tooltipped-s::before, .tooltipped-se::before, .tooltipped-sw::before { top: auto; right: 50%; bottom: -5px; margin-right: -5px; border-bottom-color: rgba(0, 0, 0, 0.8); }
.tooltipped-se::after { right: auto; left: 50%; margin-left: -15px; }
.tooltipped-sw::after { margin-right: -15px; }
.tooltipped-n::after, .tooltipped-ne::after, .tooltipped-nw::after { right: 50%; bottom: 100%; margin-bottom: 5px; }
.tooltipped-n::before, .tooltipped-ne::before, .tooltipped-nw::before { top: -5px; right: 50%; bottom: auto; margin-right: -5px; border-top-color: rgba(0, 0, 0, 0.8); }
.tooltipped-ne::after { right: auto; left: 50%; margin-left: -15px; }
.tooltipped-nw::after { margin-right: -15px; }
.tooltipped-s::after, .tooltipped-n::after { transform: translateX(50%); }
.tooltipped-w::after { right: 100%; bottom: 50%; margin-right: 5px; transform: translateY(50%); }
.tooltipped-w::before { top: 50%; bottom: 50%; left: -5px; margin-top: -5px; border-left-color: rgba(0, 0, 0, 0.8); }
.tooltipped-e::after { bottom: 50%; left: 100%; margin-left: 5px; transform: translateY(50%); }
.tooltipped-e::before { top: 50%; right: -5px; bottom: 50%; margin-top: -5px; border-right-color: rgba(0, 0, 0, 0.8); }
.tooltipped-multiline::after { width: -moz-max-content; max-width: 250px; overflow-wrap: break-word; white-space: pre-line; border-collapse: separate; }
.tooltipped-multiline.tooltipped-s::after, .tooltipped-multiline.tooltipped-n::after { right: auto; left: 50%; transform: translateX(-50%); }
.tooltipped-multiline.tooltipped-w::after, .tooltipped-multiline.tooltipped-e::after { right: 100%; }
@media not all { .tooltipped-multiline::after { width: 250px; } }
  .tooltipped-multiline::after { width: 250px; }
}
.tooltipped-multiline::after { width: 250px; }
.tooltipped-sticky.tooltipped-multiline::after { display: table-cell; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { .tooltipped-w::after { margin-right: 4.5px; } }
  .tooltipped-w::after { margin-right: 4.5px; }
}
.tooltipped-w::after { margin-right: 4.5px; }
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-up {
  0% { opacity: 0.8; transform: translateY(100%); }
  100% { opacity: 1; transform: translateY(0px); }
}
@keyframes fade-up {
  0% { opacity: 0.8; transform: translateY(100%); }
  100% { opacity: 1; transform: translateY(0px); }
}
@keyframes fade-down {
  0% { opacity: 1; transform: translateY(0px); }
  100% { opacity: 0.5; transform: translateY(100%); }
}
@keyframes fade-down {
  0% { opacity: 1; transform: translateY(0px); }
  100% { opacity: 0.5; transform: translateY(100%); }
}
@keyframes grow-x {
  100% { width: 100%; }
}
@keyframes grow-x {
  100% { width: 100%; }
}
@keyframes shrink-x {
  100% { width: 0%; }
}
@keyframes shrink-x {
  100% { width: 0%; }
}
@keyframes scale-in {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}
@keyframes scale-in {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}
@keyframes pulse {
  0% { opacity: 0.3; }
  10% { opacity: 1; }
  100% { opacity: 0.3; }
}
@keyframes pulse {
  0% { opacity: 0.3; }
  10% { opacity: 1; }
  100% { opacity: 0.3; }
}
@keyframes pulse-in {
  0% { transform: scale3d(1, 1, 1); }
  50% { transform: scale3d(1.1, 1.1, 1.1); }
  100% { transform: scale3d(1, 1, 1); }
}
@keyframes pulse-in {
  0% { transform: scale3d(1, 1, 1); }
  50% { transform: scale3d(1.1, 1.1, 1.1); }
  100% { transform: scale3d(1, 1, 1); }
}
.clearfix::before { display: table; content: ""; }
.clearfix::after { display: table; clear: both; content: ""; }
.Details:not(.Details--on) .Details-content--hidden { display: none !important; }
